[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
command = "npm run dev -- --host --port 8888"
port = 8888
targetPort = 8888
autoLaunch = false

